#container {
	display: grid;
	grid-template-rows: 6em minmax(10em, 1fr) 3em;
	grid-template-columns: minmax(10em,1fr) 20em;
	grid-template-areas: 
		"header sidebar"
		"main sidebar"
		"footer sidebar";
}

header {
	grid-area: header;
	height: 6em;
	background-color: #000;
}

.flex-container {
	display: flex;
	justify-content: center;
	text-overflow: clip;
	width: 100%;
}

.flex-container .member {
	margin: 0px 3px;
	position: relative;
	width: 11em;
	background-color: #242424;
}

.flex-container .member img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	height: 6em;
}

.flex-container .member .title {
	position: absolute;
    background-color: #0A0A0A;
    color: whitesmoke;
    padding: .1em .5em;
    bottom: 0px;
    left: 0px;
	
}

.flex-container .member .title img {
	float: left;
	margin-left: 0px;
	height: 1.5em;
}

aside {
	grid-area: sidebar;
}

aside select {
	display: block;
	margin-left: 1em;
	margin-right: 1em;
}

main {
	grid-area: main;
	width: 100%;
	background-color: #111111;
	align-content: center;
}

main img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

footer {
	grid-area: footer;
	height: 3em;
	background-color: #393A3B;
}



#taskbar {
	position: relative;
}

#taskbar button {
	position: absolute;
	top: 55%;
	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
	right: 1em;
	text-align: center;
	padding: .4em;
	background-color: #AB342E;
	color: whitesmoke;
	border-radius: .7em .7em;
	width: 5em;
	font-weight: bolder;
}
#mice, #camera, #share, #chat {
	margin: .4em 1em;
	height: auto;
	width: 2.2em;
}
.mice-off {
	background: url(../icons/mice_button_off.svg) no-repeat;
}

.mice-on {
	background: url(../icons/mice_button_on.svg) no-repeat;
}

.camera-off {
	background: url(../icons/camera_button_off.svg) no-repeat;
}

.camera-on {
	background: url(../icons/camera_button_on.svg) no-repeat;
}

.share-off {
	background: url(../icons/share_button_off.svg) no-repeat;
}

.share-on {
	background: url(../icons/share_button_on.svg) no-repeat;
}

.chat {
	background: url(../icons/chat_button.svg) no-repeat;
}

/* DONE */