<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" 
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
          crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style/style.css">

    <title>Video call</title>
</head>

<body>
    <div id="container">
        <header>
            <div class="flex-container">
                <div class="member">
                    <img src="https://i.imgur.com/2zBrAaq.jpg" alt="">
                    <div class="title">
                        Annabelle
                    </div>
                </div>
                <div class="member">
                    <img src="https://i.imgur.com/qYkYcRq.jpg" alt="">
                    <div class="title">
                        <img src="../static/icons/muted.png" alt="">
                        Chris Phan
                    </div>
                </div>
                <div class="member">
                    <img src="https://i.imgur.com/KReN5eq.jpg" alt="">
                    <div class="title">
                        <img src="../static/icons/muted.png" alt="">
                        Isabella
                    </div>
                </div>
                <div class="member">
                    <img src="https://i.imgur.com/tx2vhdc.jpg" alt="">
                    <div class="title">
                        Leo
                    </div>
                </div>
                <div class="member">
                    <img src="https://i.imgur.com/Vxg4ifS.jpg" alt="">
                    <div class="title">
                        <img src="../static/icons/muted.png" alt="">
                        Alex
                    </div>
                </div>
            </div>
        </header>

        <main class="flext-container">
            <img src="https://i.imgur.com/n2xEV6S.jpg">
        </main>

        <aside>
            <select class="form-select m-lg-2" aria-label="Default select type of conversation">
                <option selected>Phiên dịch ngôn ngữ ký hiệu</option>
                <option value="2">Phiên dịch giọng nói sang chữ</option>
                <option value="3">Phiên dịch chữ sang giọng nói</option>
            </select>
        </aside>
        
        <footer class="flex-container" id="taskbar">
            <div id="mice" class="mice-off"></div>
            <div id="camera" class="camera-off"></div>
            <div id="share" class="share-off"></div>
            <div id="chat" class="chat"></div>
            <button>Thoát</button>
        </footer>
    </div>
    <!-- Optional JavaScript -->
    <script src="../static/JavaScripts/taskbarControllers.js"></script>

    <!-- jQuery first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" 
            crossorigin="anonymous"></script>


</body>

</html>